@use './mixins' as *;
@use './content/doc-content';


.page-content {
    @include respond-to('lg') {
        padding-top: 55px;

        &.has-sidebar {
            padding-left: 16rem;
            @include respond-to('xlg') {
                padding-left: 18rem;
            }
            @include respond-to('xxl') {
                padding-left: calc(
                    (100vw - 1376px) / 2 + 18rem
                );
            }
        }
    }

    .doc-content a {
        display: inline-flex;
        align-items: center;

        &.vp-link {
            white-space: nowrap;
            word-break: keep-all;
        }

        .link-icon {
            margin-left: 0.25rem;
            height: 1em;
            width: 1em;
        }
    }
}
