node_modules

.xy
.idea
.vscode
*.log
.DS_Store
*.vsix
package-lock.json

packages/sweetheart-design-script/lib/commands
packages/sweetheart-design-script/lib/compiler
packages/sweetheart-design-script/lib/config
packages/sweetheart-design-script/lib/shared
packages/sweetheart-design-script/lib/index.d.ts
packages/sweetheart-design-script/site/mobile/*.routes.ts
packages/sweetheart-design-script/site/mobile/routes.ts
packages/sweetheart-design-script/site/pc/*.routes.ts
packages/sweetheart-design-script/site/pc/routes.ts
packages/sweetheart-design-script/site/site.config.json
packages/sweetheart-design-script/site/*.site.config.json

packages/sweetheart-design-ui/site
packages/sweetheart-design-ui/lib
packages/sweetheart-design-ui/es
packages/sweetheart-design-ui/umd
packages/sweetheart-design-ui/coverage
packages/sweetheart-design-ui/highlight

packages/sweetheart-design-ui-playground/site
packages/sweetheart-design-ui-playground/public/touch-emulator
packages/sweetheart-design-ui-playground/public/xy.esm.js
packages/sweetheart-design-ui-playground/public/xy-touch-emulator.js
packages/sweetheart-design-ui-playground/public/xy.css

packages/sweetheart-design-icons/dist

packages/sweetheart-design-script/generators/**/es
packages/sweetheart-design-script/generators/**/umd
packages/sweetheart-design-script/generators/**/lib
packages/sweetheart-design-script/generators/**/highlight
packages/sweetheart-design-script/generators/**/coverage
